@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
	background-color: antiquewhite;
}
:root {
	font-size: 10px;
	--color1: red;
	--color2: black;
	--color3: white;
}
* {
	margin: 0;
	padding: 0;
}
nav {
	font-family: "Ubuntu", sans-serif;
    position: sticky;
    top: 0;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 6.5rem;
	color: var(--color3);
	background-color: var(--color2);
}

nav ul li {
	padding: 0 1.2rem;
}
.brand img {
	width: 4.4rem;
	padding: 0 0.8rem;
}

.brand {
	display: flex;
	align-items: center;
	font-weight: border;
	font-size: 1.3rem;
	bottom: 0;
}

.container {
	min-height: 70vh;
	background-color: var(--color2);
	color: var(--color3);
	font-family: "Varela Round", sans-serif;
	padding: 1rem;
	display: flex;
	margin: 1.4rem auto;
	width: 70vw;
	background: url(music.jpeg);
	background-size: cover;
}
.bottom {
	position: sticky;
	height: 11rem;
    bottom: 0;
	background-color: var(--color2);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color3);
	flex-direction: column;
}
.icons {
	margin: 1.4rem;
}
.icons i {
	margin: 1rem;
	cursor: pointer;
}
#myProgressBar {
	min-width: 80vw;
	margin-top: 1rem;
	initial-value: 0;
}
.songList {
    width: 40rem;
}
.songItem {
	height: 3.2rem;
    display: flex;
    margin: 0.5rem;
    background-color: #36696b;
    color: var(--color3);
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    justify-content: space-between;
    cursor: pointer;
}

.songItem img {
	width: 3.2rem;
    border-radius: 0.5rem;
}

.songItem span {
	margin: 0.8rem;
}

span:nth-child(2){
    width: 80%;
}
.songItemContainer{
    padding-top:1rem ;
}
img[alt="gif"]{
 width: 5rem;
 margin-right:2rem ;
 opacity: 0;
 transition: 0.5s ease-in;
}
.itemInfo{
	position: absolute;
    display: flex;
    align-items: center;
    left: 10vw;
    top: 4rem;
    font-size: 1.6rem;
}

.songList h1{
	padding: 0 0 0 2rem;
}
.itemInfo span{

	font-family: "Varela Round", sans-serif;
}

/* @media only screen and (max-width:500px) {
	:root{
		font-size: 8px;
	}
} */